@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --persian-font: IRANSans;
    --english-font: 'Poppins', sans-serif;
    --english-font-weight: 500;
    --persian-font-weight: 600;

    --primary-color: #6205ED;
    --secondary-color: #8505CA;
    --third-color: #A705A7;
    --fourth-color: #CA0483;
    --fifth-color: #EC0460;
}
@font-face {
    font-family: IRANSans;
    src: url(IRANSans.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::selection {
    background-color: var(--primary-color);
    color: #FFF;
}
body, button {
    font-family: var(--persian-font);
    font-weight: var(--persian-font-weight);
}
body {
    background-color: var(--primary-color);
}
.title {
    color: #FFF;
    padding-top: 2rem;
    text-align: center;
}
.container {
    padding-top: 2.5rem;
}
.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    column-gap: 1rem;
    row-gap: 2rem;
}
.flashcard {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    background-color: #FFF;
    width: 500px;
    border-radius: 3px;
    padding: 1.5rem;
    cursor: pointer;
}
.flashcard-title {
    color: var(--primary-color);
    font-size: 1.5rem;
}
.total-flashcards strong {
    color: #0aaf62;
}
.todays-flashcards strong {
    color: #ff0000;
}
.todays-flashcards {
    margin-bottom: 1.5rem;
}
hr {
    margin-bottom: 1rem;
}
.settings-button {
    background-color: var(--primary-color);
    color: #FFF;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: .5s;
}
.settings-icon {
    transition: .5s;
}
.settings-button:hover .settings-icon {
    transform: rotate(360deg);
}
.settings-button:hover {
    background-color: var(--secondary-color);
}
.button {
    background-color: var(--fourth-color);
    color: #FFF;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 1rem;
    cursor: pointer;
}
.modal {
    display: none;
    background-color: #e5e5e5;
    border-radius: 3px;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    transition: 0.5s;
}
.modal-content {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.modal-text {
    text-align: center;
    margin-bottom: 2rem;
}
.save-button {
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    transition: .5s;
}
.save-button:hover {
    background-color: var(--secondary-color);
}
.counters {
    display: flex;
    justify-content: space-between;
}
.first-counter, .second-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}
.counter {
    margin-bottom: 1.5rem;
    position: relative;
    width: 80px;
    height: 50px;
    border-radius: 40px;
    border: 2px solid var(--primary-color);
    transition: .5s;
}
.counter:hover {
    width: 120px;
}
.counter .next {
    position: absolute;
    top: 50%;
    right: 30px;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
    opacity: 0;
    transition: 0.5s;
}
.counter:hover .next {
    opacity: 1;
    right: 20px;
}
.counter .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    z-index: 1;
    transform: translateY(-50%) rotate(315deg);
    opacity: 0;
    transition: 0.5s;
}
.counter:hover .prev {
    opacity: 1;
    left: 20px;
}
#box span , #second-box span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 46px;
    display: none;
    color: #000;
    font-size: 24px;
    user-select: none;
}
#box span:nth-child(1), #second-box span:nth-child(1) {
    display: initial;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .7rem;
    font-size: 1.5rem;
    border-radius: 3px;
    background-color: #ff0000;
    color: #FFF;
    transition: 0.5s;
    cursor: pointer;
}
.close:hover {
    background-color: #c00404;
}
@media (min-width: 320px) and (max-width: 650px) {
    .flashcard {
        width: 70vw;
    }
    .modal {
        width: 90vw;
    }
    .counters {
        display: flex;
        flex-direction: column;
    }
    .first-counter, .second-counter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .8rem;
    }
}
@media (min-width: 651px) and (max-width: 1074px) {
    .flashcard {
        width: 40vw;
    }
}