@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --persian-font: IRANSans;
    --persian-font-weight: 600;

    --primary-color: #6205ED;
    --secondary-color: #8505CA;
    --third-color: #A705A7;
    --fourth-color: #CA0483;
    --fifth-color: #EC0460;
}
@font-face {
    font-family: IRANSans;
    src: url(IRANSans.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::selection {
    background-color: var(--primary-color);
    color: #FFF;
}
body, button {
    font-family: var(--persian-font);
    font-weight: var(--persian-font-weight);
}
body {
    background-color: var(--primary-color);
}
.fluent__heading {
    color: #FFF;
    text-align: center;
    padding-top: 2rem;
}
.fluent__container {
    padding-top: 2.5rem;
}
.fluent__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    column-gap: 1rem;
    row-gap: 2rem;
}
.fluent__flashcard {
    position: relative;
    background-color: #FFF;
    width: 500px;
    height: 400px;
    border-radius: 25px;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
}
.fluent__title {
    color: var(--primary-color);
    font-size: 1.5rem;
}
.start__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    background-color: var(--primary-color);
    color: #FFF;
    width: 150px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 1rem;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all .5s;
}
.start__btn i {
    transform: rotate(180deg);
}
.start__btn:hover {
    gap: 1.2rem;
    background-color: #FFF;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.fluent__info {
    display: flex;
    gap: 3rem;
    font-size: 1.2rem;
}
.fluent__info .first__info, .fluent__info .second__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.fluent__info .first__info p {
    color: var(--primary-color);
}
.fluent__info .second__info p, .fluent__info strong {
    color: #0c9751;
}
.plus__button-wrapper {
    display: inline-flex;
    position: absolute;
    bottom: 1rem;
    right: 2.1rem;
}
.plus__button-wrapper .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.plus__button-wrapper .icon span {
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background-color: #FFF;
    border-radius: 50%;
    z-index: 2;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.plus__button-wrapper .icon span i {
    font-size: 25px;
    line-height: 60px;
    color: var(--primary-color);
}
.plus__button-wrapper .icon .tooltip {
    position: absolute;
    top: 0px;
    width: 200px;
    background-color: #FFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}
.plus__button-wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}
.plus__button-wrapper .icon .tooltip:before {
    background-color: #FFF;
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}
.plus__button-wrapper .icon:hover span, .plus__button-wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.fluent__modal {
    display: none;
    background-color: #f1ecec;
    border-radius: 3px;
    padding: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    z-index: 100;
    transition: 0.5s;
}
.fluent__modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.fluent__modal-text {
    padding-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.new-flashcards-text, .old-flashcards-text {
    margin-bottom: 1rem;
}
.fluent__counters {
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;
}
.first__counter, .second__counter {
    display: flex;
}
input[type="number"] {
    font-family: var(--english-font);
    font-weight: var(--english-font-weight);
    -moz-appearance: textfield;
    text-align: center;
    font-size: 20px;
    width: 70px;
    border: none;
    outline: none;
    background-color: #FFF;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.fluent__modal-content button {
    background-color: var(--secondary-color);
    color: #FFF;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 1rem;
    cursor: pointer;
}
.fluent__decrement {
    padding: 15px 5px 15px 25px;
    border-radius: 45px 0 0 45px;
}
.fluent__increment {
    padding: 15px 25px 15px 5px;
    border-radius: 0 45px 45px 0;
}
.save-button {
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
.save-button:hover {
    transform: scale(1.1);
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .7rem;
    font-size: 1.5rem;
    border-radius: 3px;
    background-color: #ff0000;
    color: #FFF;
    transition: 0.5s;
    cursor: pointer;
}
.close:hover {
    background-color: #c00404;
}
@media (min-width: 320px) and (max-width: 650px) {
    .fluent__content {
        display: flex;
        flex-direction: column;
    }
    .fluent__flashcard {
        width: 85vw;
        height: 420px;
    }
    .fluent__title {
        font-size: 4vw;
    }
    .start__btn {
        width: 25vw;
        font-size: 2.5vw;
    }
    .fluent__info {
        font-size: 3.2vw;
    }
    .plus__button-wrapper .icon .tooltip {
        transition: .5s;
    }
    .plus__button-wrapper .icon:hover .tooltip {
        top: -60px;
        opacity: 1;
        pointer-events: auto;
    }
    .plus__button-wrapper .icon .tooltip:before {
        background-color: #FFF;
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        top: 50%;
        left: 90%;
        transform: translateX(-50%) rotate(45deg);
    }
    .fluent__modal {
        width: 90vw;
    }
    .fluent__counters {
        display: flex;
        flex-direction: column;
    }
    .fluent__first-counter, .fluent__second-counter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .8rem;
    }
}
@media (min-width: 651px) and (max-width: 1174px) {
    .fluent__flashcard {
        width: 40vw;
        height: 450px;
    }
    .fluent__title {
        font-size: 1.9vw;
    }
    .start__btn {
        width: 15vw;
        font-size: 1.5vw;
    }
    .fluent__info {
        font-size: 1.5vw;
    }
}
